/*=====================*/
/*     CSS override   */
/*=====================*/
*{
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.row{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'construthinvism';
    /*src: url('http://www.fontsaddict.com/fontface/akashi.ttf');*/
    src: url('../fonts/construthinvism.ttf');
}
.fontAkashi{
    font-family: 'Akashi' !important;
}


.full {
    background-color: #edc762;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.coverTitle{
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    font-family: 'construthinvism';
}
