/*=====================*/
/*     CSS override   */
/*=====================*/

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);

*{
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.row{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
    overflow-x:scroll;
}
@font-face {
    font-family: 'akashi';
    src: url('../fonts/akashi.ttf');
}

.full {
    background: url(../img/myCover.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.fullBlur {
    background: url(../img/myCoverBlur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.my-btn {
    margin: 10px;
    font-size: 20px;
    padding: 5px 5px;
    display: block;
    font-weight: 200;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: center;
    background-color: transparent;
    border: 2px solid #fff;
    color: #ffffff;
}
.fontAkashi{
    font-family: 'akashi', 'Raleway', sans-serif;
}

a.my-btn{
    color: #ffffff;
    text-decoration: none;
    font-family: 'akashi', 'Raleway', sans-serif;
    font-size: 18px;
}
.my-btn:hover {
    background-color: rgba(255,255,255,0.2);
    border-color: #fff;
}

.pageTitle{
    font-family: 'akashi','Raleway', sans-serif;
    font-weight: bold;
    margin: 0px 0 25px 0;
    text-transform: uppercase;
    color: #ffffff;
}

.coverTitle{
    font-size: 28px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.glyphicon-chevron-right{
    margin-right: -60px;
}
.glyphicon-chevron-left{
    margin-left: -60px;
}

.goDown{
    font-size: 2em;
    color: #fff;
}
.goDown a{
    color: #fff;
    text-decoration: none;
}
.goDown a:hover{
    color: #fff;
    text-decoration: none;
}