<div class="full height100vh">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="slide textAlignCenter marginTop50">
                <p class="coverTitle">

                Arhan Shahid

                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 textAlignCenter marginTop15">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 textAlignCenter marginTop15">
            <a ui-sref="main">Read More</a>
        </div>
    </div>
</div>
