<div class="full height100vh">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="slide textAlignCenter marginTop50">
                <a ui-sref="main">
                    <img src="img/coverLogo.png" alt="KietMun - 2015 Logo" width="420" height="420"/>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 textAlignCenter marginTop15">
            <a ui-sref="main">
                <img src="img/nameLable.png" alt="KietMun - 2015 Name Lable"/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 textAlignCenter marginTop15">
            <a ui-sref="main">Read More</a>
        </div>
    </div>
</div>
