<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Arhan Shahid | Official Website">
    <meta name="author" content="Arhan Shahid">

    <!--META for Social Media-->
    <meta property="og:title" content="Arhan Shahid"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://arhanshahid.herokuapp.com/"/>
    <meta property="og:image" content="http://arhanshahid.herokuapp.com/socialcover.png"/>
    <meta property="og:description" content="Arhan Shahid | Official Website"/>

    <!--Website Favicon-->
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>Arhan Shahid</title>

    <!-- CSS Libraries -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/general-css-rules.css" rel="stylesheet">
    <link href="css/social-button.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet">

    <!-- JavaScript Libraries -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.scripts IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.scripts doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.scripts"></script>
    <script src="https://oss.maxcdn.com/libs/respond.scripts/1.4.2/respond.min.scripts"></script>
    <![endif]-->
</head>

<body ng-app="mainApp"  class="container-fluid" ng-controller="appController">


<div class="full height100vh">
    <div class="row" id="home">
        <div class="col-md-offset-2 col-sm-offset-1 col-md-8 col-sm-8 marginTop23p">
            <div class="textAlignCenter marginTop50">
                <h2 class="coverTitle">Hello! I am Arhan Shahid <br/><strong>A Full Stack Web/Mobile App Developer</strong></h2>
            </div>
        </div>
        <div class="col-md-offset-3 col-sm-offset-1 col-md-6 col-sm-10 marginTop9p">
            <div class="col-md-4 col-xs-12">
                <a href="#about" du-smooth-scroll du-scrollspy class="my-btn">About Me</a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="#portfolio"  du-smooth-scroll du-scrollspy class="my-btn">Portfolio</a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="#contact" du-smooth-scroll du-scrollspy class="my-btn">Contact</a>
            </div>

        </div>
    </div>
</div>
<div class="fullBlur height100vh" id="about">
    <div class="row">
        <div class="col-md-12">

            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide class="height90vh aboutSlide">
                    <h2 class="pageTitle textAlignCenter marginTop50">
                        <strong>About Me</strong>
                    </h2>
                    <p class="marginTop15">Hello! I am Arhan Shahid. I am Software Engineer and I believe programming is the closest thing we have to Superpower. We can solve large number of daily life problems with technology.
                        <br/><br/> I am currently working as Team Lead, Software Engineering at WeTechs (wetechs.net) and making dreams come true with the vision to make this world a better place for us & for future generations trying to provide a better solution to humanity along with a team of experts focusing contemporary.
                        <br/><br/>  I've technical expertise in Web based solutions and Mobile application development using latest technologies including, Html5, BootStrap, Node.js, MongoDB, PhoneGap (Cordova), Ionic, Angular.js, Gulp.js, SASS. I am obsessed with better usability, user experience. I called my self a design minded developer. I believe we can achieve high performance and better result with better UX and interactive UI. I love public speaking and conducting training sessions. I've also expertise in conducting training on latest technologies and fundamental programming. I won several awards and member of several societies. I love to contribute in programming communities with answers, code snippets and tips and tricks. I'm available for contracting or consulting.</p>
                </uib-slide>
                <uib-slide class="height90vh aboutSlide">
                    <h2 class="pageTitle textAlignCenter marginTop50">
                        <strong>Specialties</strong>
                    </h2>
                    <p class="marginTo100 fontWeightBold">
                        AngularJS
                        | NodeJS
                        | HTML5 Stack | JavaScript | CSS3 | BootStrap
                        | MongoDB | MySQL
                        | PhoneGap | Ionic
                        | HCI | SVG | D3.js Data Driven Documents
                        | Amazon Web Services | Heroku
                        | jQuery | jQuery Mobile | jQuery Plugins
                        | Mobile Apps | Mobile webs | Cloud Computing
                        | Requirement Analysis | Analysis & Design</p>
                </uib-slide>
                <uib-slide class="height90vh aboutSlide">
                    <h2 class="pageTitle textAlignCenter marginTop50">
                        <strong>Experience</strong>
                    </h2>
                    <div class="textAlignCenter marginTop55">
                        <h3 class="marginTop10 fontWeightBold">Team Lead, Software Engineering at WeTechs</h3>
                        <p>July – 2015 To Present</p>
                        <h3 class="marginTop10 fontWeightBold">Associate Software Engineer at Webxity Technologies (Pvt.) Ltd</h3>
                        <p>June – 2015 To July 2015</p>
                        <h3 class="marginTop10 fontWeightBold">Front End Team Lead at Panacloud (Pvt.) Ltd</h3>
                        <p>April – 2014 To November – 2014</p>
                        <h3 class="marginTop10 fontWeightBold">Freelancer</h3>
                        <p>January – 2013 To November – 2013</p>
                    </div>
                </uib-slide>
                <uib-slide class="height90vh aboutSlide textAlignCenter">
                    <h2 class="pageTitle textAlignCenter marginTop50">
                        <strong>Honors & Awards</strong>
                    </h2>
                    <div class="textAlignCenter marginTop55">
                        <h3 class="marginTop10 fontWeightBold">ACM ICPC ASIA Appreciation Award</h3>
                        <p>November 2015</p>
                        <h3 class="marginTop10 fontWeightBold">Head of IT - KIETMUN 201515</h3>
                        <p>September 2015</p>
                        <h3 class="marginTop10 fontWeightBold">ACM Special Contribution Award</h3>
                        <p>April 2015</p>
                        <h3 class="marginTop10 fontWeightBold">Best Project Award Internet and Intranet Architecture</h3>
                        <p>March 2015</p>
                        <h3 class="marginTop10 fontWeightBold">Head of Web Spark - COMBAT 2014</h3>
                        <p>November 2014</p>
                    </div>
                </uib-slide>
                <uib-slide class="height90vh aboutSlide textAlignCenter">
                    <h2 class="pageTitle textAlignCenter marginTop50">
                        <strong>Honors & Awards</strong>
                    </h2>
                    <div class="textAlignCenter marginTop55">
                        <h3 class="marginTop10 fontWeightBold">Head of Web Development - COMBAT 2014</h3>
                        <p>November 2014</p>
                        <h3 class="marginTop10 fontWeightBold">Best Project Award Principle of Management</h3>
                        <p>October 2014</p>
                        <h3 class="marginTop10 fontWeightBold">Declamation Contest : Standing First</h3>
                        <p>September 2014</p>
                        <h3 class="marginTop10 fontWeightBold">Head of Web Spark - COMBAT 2013</h3>
                        <p>April 2013</p>
                    </div>
                </uib-slide>
                <uib-slide class="height90vh aboutSlide textAlignCenter">
                    <h2 class="pageTitle textAlignCenter marginTop50">
                        <strong>Certifications</strong>
                    </h2>
                    <div class="textAlignCenter marginTop55">
                        <h3 class="marginTop10 fontWeightBold">Programming in HTML5 with JavaScript and CSS3 (Exam 70-480)</h3>
                        <p>March 2013</p>
                        <h3 class="marginTop10 fontWeightBold">Functional & Object-Oriented Programming using JavaScript</h3>
                        <p>March 2013</p>
                        <h3 class="marginTop10 fontWeightBold">HTML5 Mobile & Real-Time Web Application Development</h3>
                        <p>June 2013</p>
                        <h3 class="marginTop10 fontWeightBold">HTML5 Mobile & Real-Time Web Application Development</h3>
                        <p>June 2013</p>
                    </div>
                </uib-slide>
                <uib-slide class="height90vh aboutSlide textAlignCenter">
                    <h2 class="pageTitle textAlignCenter marginTop50">
                        <strong>Volunteer Work</strong>
                    </h2>
                    <div class="textAlignCenter marginTop55">
                        <h3 class="marginTop10 fontWeightBold">Trainer at National University of Sciences & Technology (NUST)</h3>
                        <p>November 2015</p>
                        <h3 class="marginTop10 fontWeightBold">Trainer at Habib University</h3>
                        <p>June 2015</p>
                        <h3 class="marginTop10 fontWeightBold">Chapter Member & Trainer at ACM – KIET</h3>
                        <p>November 2014</p>
                        <h3 class="marginTop10 fontWeightBold">Trainer at PAF - Karachi Institute of Economics & Technology</h3>
                        <p>January 2014</p>
                    </div>
                </uib-slide>
            </uib-carousel>

            <!--<div class="goDown textAlignCenter">-->
            <!--<a href="#portfolio"  du-smooth-scroll du-scrollspy>-->
            <!--<i class="fa fa-chevron-down"></i>-->
            <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="fullBlur height100vh" id="portfolio">
    <div class="row">
        <div class="col-md-12">
            <h2 class="pageTitle textAlignCenter marginTop50">
                <strong>Portfolio</strong>
            </h2>

            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide>
                    <h2 style="height: 90vh">
                        <a class="my-btn" ng-click="open('lg')">Large modal</a>
                    </h2>
                </uib-slide>
                <uib-slide>
                    <h2 style="height: 90vh">2</h2>
                </uib-slide>
                <uib-slide>
                    <h2 style="height: 90vh">3</h2>
                </uib-slide>
                <uib-slide>
                    <h2 style="height: 90vh">4</h2>
                </uib-slide>
            </uib-carousel>

            <!--<div class="goDown textAlignCenter">-->
            <!--<a href="#contact"  du-smooth-scroll du-scrollspy>-->
            <!--<i class="fa fa-chevron-down"></i>-->
            <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="fullBlur height100vh" id="contact">
    <div class="row">

        <div class="col-md-offset-2 col-sm-offset-1 col-md-8 col-sm-10">
            <h2 class="pageTitle textAlignCenter marginTop50">
                <strong>Follow Me</strong>
            </h2>
            <div class="col-md-offset-1 col-md-11 marginTo100">
                <ul class="list-inline banner-social-buttons textAlignCenter">
                    <li>
                        <a class="icon github" href="https://github.com/arhanshahid" title="find me on Github" target="_blank">
                            <span class="brandico-github"></span>
                        </a>
                    </li>
                    <li>
                        <a class="icon linkedin" href="https://pk.linkedin.com/in/arhanshahid" title="find me on LinkedIn" target="_blank">
                            <span class="brandico-linkedin"></span>
                        </a>
                    </li>
                    <li>
                        <a class="icon twitter" href="https://twitter.com/arhan_shahid" title="find me on Twitter" target="_blank">
                            <span class="brandico-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a class="icon googleplus" href="https://plus.google.com/u/0/109392584632078486212" title="find me on Google Plus" target="_blank">
                            <span class="brandico-googleplus-rect"></span>
                        </a>
                    </li>
                    <li>
                        <a class="icon skype" href="skype:arhanshahid18?call" title="find me on skype" target="_blank">
                            <span class="brandico-skype"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="goDown textAlignCenter" style="margin-top: 400px">
                <a ng-click="toTheTop()">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="scripts/main.js"></script>
<script src="scripts/controllers/appController.js"></script>
<script src="scripts/controllers/projectController.js"></script>

</body>

</html>
